@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --color-primary: #0064B7;
    --color-buttons: #2978D7;
    --color-font-gray1: #333333;
    --color-font-gray3: #828282;
    --color-planbg: #1b3b6f;
    --color-formbg: #4f4f4f;
    --color-formtext: #bdbdbd;
    --color-aboutbg: #6ba9dd;
}

/* body */

body {
    
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
}

.btn {
    background-color: var(--color-buttons);
}

section > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-font-gray1);
    margin-bottom: 22px;
}
/* navbar */

.nav-link {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-font-gray1);
}

.nav-link.active {
    color: var(--color-buttons) !important;
    font-weight: 700;
}

.navbar-toggler {
    border: 0;
}

/* carousel */
.carrusel {
    margin-top: 5rem;
}

.carousel-indicators button{
    width: 0.5rem !important; 
    height: 0.5rem !important;
    border-radius: 50%;
}

.carousel-caption {
    position: absolute;
    top: 18%;
    right:45.8%;
    text-align: left;
}

.carousel-item img {
    filter: blur(0.625rem);
    /* background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.625rem); */
}

.carousel-caption h2 {
    font-weight: 600;
    font-size: 1.875rem;
    margin-bottom: 16px;
}

.carousel-caption p {
    font-weight: 500;
    margin-right: 10px;
}

.carousel-caption button {
    margin-top: 1rem;
    background-color: var(--color-buttons);
    padding: 1rem 2.5rem;
    font-weight: 600;
}

/* Section planificacion */
.plan-item {
    display: inline-flex;
    
}



.fondo {
    background-color: var(--color-planbg);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    padding: 1rem;
}

.fondo img {
    width: 70%;
}

/* Section acerca de */
.acercade {
    display: inline-flex;
    background-color: var(--color-aboutbg);
}

/* footer */

footer p {
    color: aliceblue;
    text-align: center;
}
.form-control {
    background-color: var(--color-formbg);
    color: var(--color-formtext);
    font-weight: 400;
}

.footer {
    display: inline-flex;
}

.footer-items{
    display: inline-flex;
}

.footer-items a {
    text-decoration: none;
    color: var(--color-formtext);
}

.form-btn {
   text-align: center;
}


@media screen and (max-width: 450px) {
    
    /* body */

    
    /* carousel */    
    .carousel-item img {
        filter: blur(0.188rem) brightness(68%);
        height: 25rem;
    }

    .carousel-caption {
        position: absolute;
        top: 10%;
        right:10%;
        text-align: center;
        margin: -3rem 0 0 0;
    }

    .carousel-caption button {
        margin-top: 0;
    }
}